.idea
.vscode
e2e-out/
src/
dist/index
node_modules
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
jest.config.js
readme.dev.md
build.extension.sh
webpack.config.js
demo_dir
test-resources
